<ion-view title="帖子列表">
    <!--<div class="bar bar-header bar-royal">
        <h1 class="title">bar-royal</h1>
    </div>-->
    <ion-nav-buttons side="right">
        <button class="button button-clear ion-plus-round" style="font-size:20px;width:50px;" ng-click="goNew()"></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher pulling-text="下拉刷新..." on-refresh="refresh()">
        </ion-refresher>
        <ion-list ng-repeat="item in articleList track by $index" type="item-text-wrap" ng-click="gotoDetail('{{item.id}}','{{item.Title}}')">
            <ion-item>
                <div class="row overflow-hidden">
                    {{item.Title}}
                </div>
                <div class="row">
                    <div class="col-60 overflow-hidden">{{item.Content}}</div>
                    <div class="col-40 overflow-hidden">{{item.InTime}}</div>
                </div>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll on-infinite="loadMore()" ng-if="isShowInfinite" distance="1%">
        </ion-infinite-scroll>
        <div id="listBottom" clsas="row" style="background-color:red;text-align:center;" ng-show="listBottomShow">
            已经到底啦~~~~~~~
        </div>
    </ion-content>
</ion-view>

<style>
    .list-container {
        /*margin-left: 30px;*/
        background-color: #fff;
        height: 40px;
        margin: 5px;
    }
    
    .list {
        padding: 0;
        margin: 5;
        border-top-width: 0;
        border-bottom-width: 0;
    }
    
    .item {
        padding: 5;
    }
    
    .overflow-hidden {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
</style>