@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BasicApp</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-controller="Home" asp-action="Index" class="navbar-brand">BasicApp</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a asp-controller="Home" asp-action="About">About</a></li>
                    <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>*@
    <div class="container body-content">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-md-4">Send Message : </div>
                    <div class="col-md-6">
                        <form id="form">
                            <input id="message" class="form-control" autocomplete="off" />
                        </form>
                    </div>
                </div>
            </div>
            <div class="panel-body">

            </div>
        </div>
        <hr />
        <footer>
            <p>&copy; 2016 - BasicApp</p>
        </footer>
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
</body>
</html>



<script>
    (function () {
        var webSocketProtocol = location.protocol == "https:" ? "wss:" : "ws:";
        var webSocketURI = webSocketProtocol + "//" + location.host + "/ws";
        socket = new WebSocket(webSocketURI);
        socket.onopen = function () {
            console.log("Connected.");
        };
        socket.onclose = function (event) {
            if (event.wasClean) {
                console.log('Disconnected.');
            } else {
                console.log('Connection loss.');
            }
            console.log('Code: ' + event.code + '. Reason: ' + event.reason);
        };
        socket.onmessage = function (event) {
            $(".panel-body").append(
                   '<div class="alert alert-success" role="alert"><a href="#" class="alert-link">Message From Server : ' + event.data + '</a></div>'
            );
            console.log("Data received: " + event.data);
        };
        socket.onerror = function (error) {
            console.log("Error: " + error.message);
        };
        var form = document.getElementById('form');
        var message = document.getElementById('message');
        form.onsubmit = function () {
            socket.send(message.value);
            message.value = '';
            return false;
        };
    })();
</script>

<h2>

    HELLO WEBSOCKET

</h2>