@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <form action="/article/AddNew1" method="post" enctype="multipart/form-data">
        <input type="file" name="files" />1<br />
        <input type="file" name="files" />2<br />
        <input type="submit" /><br />
        it's ok
    </form>
</div>